@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: rgb(255, 237, 228);
    background-image: linear-gradient(to bottom, rgb(247, 212, 212),transparent 20%);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: "Open Sans",sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* navbar */

#navbar{
    width: 100%;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0%;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 2.5rem;
    margin-bottom: 0px;
}


.nav-link{
    text-decoration: none;
    color: rgb(177, 94, 94);
}

.break-line{
    border-top: 1px solid rgb(177, 94, 94);
    width: 100%;
    max-width: 1000px;
    margin-top: -30px;

}

#navbar > .break-line:nth-last-of-type(1){
    margin-bottom: -2px;
}

#navbar > .break-line:nth-last-of-type(2){
    margin-top: -2px;
}

/* ============================ */
/* End of Header */

/* Beginning of main */

main{
    display: grid;
    justify-content: center;
    justify-items: center;
}

#main-text-section{
    display: grid;
    justify-items: center;
    margin: 20px 0px 20px 0px;
}

#title-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

#text-title{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: rgb(146, 69, 69);
}

#text-para-container{
    width: 800px;
    height: auto;
    font-size: 1.2rem;
    color: rgb(177, 94, 94);
}

/* Image Section */

#img-container{
    display: grid;
    justify-items: center;
    border: 1px solid red;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 740px;
    margin: 20px 0px 20px 0px;
}

#service-image-container-fade{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


#fade{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),transparent);
    width: 350px;
    height: 400px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s ease , opacity 0.3s;
}

#service-image-container-fade:hover #fade{
    visibility: hidden;
    opacity: 0;
}

.overlay-text{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 100%;
    word-spacing: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#service-image-container-fade:hover .overlay-text{
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
}


.service-img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}




/* End of Image Section */

/* ================================= */
/* End of Main */

/* footer */

#footer-container{
    width: 98%;
    min-height: 90px;
    background-color: rgb(233, 198, 195);
    padding: 20px;
    display: grid;
    justify-content: center;
}

#text-contain{
    color: rgb(177, 94, 94);
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
}

#icon-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.t-icon{
    width: 40px;
}

.icon{
    width: 50px;
}
/* End of Footer */